<template>

    <div class="container-fluid container-fixed-lg">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-transparent">
                    <div class="row">
                        <div class="panel-heading">
                            <div class="panel-title">Список всех сфер деятельности</div>
                            <a class="btn btn-info pull-right" @click="showCreatingModal()">Создать новую сферу</a>

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th style="width:20%">Id</th>
                                    <th style="width:20%">Название</th>
                                    <th style="width:20%">Автор</th>
                                    <th style="width:20%">Приоритет</th>
                                    <th style="width:20%">Создан</th>
                                    <th style="width:20%">Опции</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="activity in activities">
                                    <td class="v-align-middle">{{ activity.id }}</td>
                                    <td class="v-align-middle">{{ activity.name }}</td>
                                    <td class="v-align-middle">{{ activity.user.name }}</td>
                                    <td class="v-align-middle">{{ getPriority(activity.priority) }}</td>
                                    <td class="v-align-middle">{{ activity.created_at }}</td>
                                    <td class="v-align-middle">
                                        <button class="btn btn-complete" @click="editActivity(activity.id, activity)"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger" @click="deleteActivity(activity.id)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade stick-up" id="updateActivity" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
                        <h5><span class="semi-bold">Редактирование сферы - {{ currentActivity.name }}</span></h5>
                    </div>
                    <div class="modal-body">
                        <form role="form" @submit.prevent="updateActivity()">
                            <div class="form-group-attached">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Название</label>
                                            <input type="text" class="form-control" v-model="currentActivity.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Приоритет</label>
                                            <select class="form-control" v-model="currentActivity.priority">
                                                <option value="1">Низкий</option>
                                                <option value="2">Нормальный</option>
                                                <option value="3">Высокий</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 m-t-10 sm-m-t-12 text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Отменить</button>

                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal fade stick-up" id="createActivity" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
                        <h5><span class="semi-bold">Создание новой сферы деятельности</span></h5>
                    </div>
                    <div class="modal-body">
                        <form role="form" @submit.prevent="createActivity()">
                            <div class="form-group-attached">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Название</label>
                                            <input type="text" class="form-control" v-model="newActivity.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Приоритет</label>
                                            <select class="form-control" v-model="newActivity.priority">
                                                <option value="1">Низкий</option>
                                                <option value="2">Нормальный</option>
                                                <option value="3">Высокий</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 m-t-10 sm-m-t-12 text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Отменить</button>

                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

</template>

<script>
    import toastr from 'toastr'
    export default {
        name: 'activities-index',
        data() {
            return {
                activities: [],
                currentActivity: {},
                newActivity: {},
            }
        },

        methods: {
            getPriority: function (priority) {
                if (parseInt(priority) === 1) return 'Низкий';
                if (parseInt(priority) === 2) return 'Нормальный';
                if (parseInt(priority) === 3) return 'Высокий';
            },
            getActivities: function () {
                this.$http.get('/admin/activities')
                    .then(( response ) => {
                        this.activities = response.data.activities;
                        console.log(response);
                    }, ( error ) => console.log(error));
            },
            deleteActivity: function (id) {
                if (confirm('Удалить?')) {
                    this.$http.delete('/admin/activities/' + id)
                        .then(( response ) => {
                            this.getActivities();
                            toastr.success('', 'Сфера удалена.');
                            console.log(response);
                        }, ( error ) => console.log(error));
                    console.log(id);
                } else {
                    return false;
                }

            },
            editActivity: function (id, activity) {
                $('#updateActivity').modal('show');

                this.currentActivity = activity;

                console.log(id);
            },
            showCreatingModal: function () {
                $('#createActivity').modal('show');
            },
            createActivity: function () {
                console.log(this.newActivity);
                this.$http.post('/admin/activities', this.newActivity)
                    .then(( response ) => {
                        this.newActivity = {};
                        this.getActivities();
                        toastr.success('', 'Сфера создана.');

                        $('#createActivity').modal('hide');
                        $('body').removeClass('modal-open');

                        console.log(response);
                    }, ( error ) => console.log(error));
            },
            updateActivity: function () {
                this.$http.put('/admin/activities/' + this.currentActivity.id, this.currentActivity)
                    .then(( response ) => {
                        this.getActivities();
                        toastr.success('', 'Сфера обновлена.');
                        $('#updateActivity').modal('hide');
                        console.log(response);
                    }, ( error ) => console.log(error));
            }
        },

        created() {},

        mounted() {
            this.getActivities();
        }
    }
</script>
