<template>

    <div class="container-fluid container-fixed-lg">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-transparent">
                    <div class="row">
                        <div class="panel-heading">
                            <div class="panel-title">Список пользователей</div>
                            <a class="btn btn-info pull-right" @click="showCreatingModal()">Создать пользователя</a>

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th style="width:20%">Id</th>
                                    <th style="width:20%">Имя</th>
                                    <th style="width:20%">Email</th>
                                    <th style="width:20%">Создан</th>
                                    <th style="width:20%">Опции</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="user in users">
                                    <td class="v-align-middle">{{ user.id }}</td>
                                    <td class="v-align-middle">{{ user.name }}</td>
                                    <td class="v-align-middle">{{ user.email }}</td>
                                    <td class="v-align-middle">{{ user.created_at }}</td>
                                    <td class="v-align-middle">
                                        <button class="btn btn-complete" @click="editUser(user.id, user)"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger" @click="deleteUser(user.id)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade stick-up" id="updateUser" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
                        <h5><span class="semi-bold">Редактирование информации о пользователе {{ currentUser.name }}</span></h5>
                    </div>
                    <div class="modal-body">
                        <form role="form" @submit.prevent="updateUser()">
                            <div class="form-group-attached">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Имя</label>
                                            <input type="text" class="form-control" v-model="currentUser.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Email</label>
                                            <input type="email" class="form-control" v-model="currentUser.email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 m-t-10 sm-m-t-12 text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Отменить</button>

                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal fade stick-up" id="createUser" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
                        <h5><span class="semi-bold">Создание нового пользователя</span></h5>
                    </div>
                    <div class="modal-body">
                        <form role="form" @submit.prevent="createUser()">
                            <div class="form-group-attached">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Имя</label>
                                            <input type="text" class="form-control" v-model="newUser.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Email</label>
                                            <input type="email" class="form-control" v-model="newUser.email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Пароль</label>
                                            <input type="password" class="form-control" v-model="newUser.password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Подтверждения пароля</label>
                                            <input type="password" class="form-control" v-model="newUser.password_confirmation">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 m-t-10 sm-m-t-12 text-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Отменить</button>

                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

</template>

<script>
    import toastr from 'toastr'
    export default {
        name: 'users-index',
        data() {
            return {
                users: [],
                currentUser: {},
                newUser: {},
            }
        },

        methods: {
            getUsers: function () {
                this.$http.get('/admin/users')
                    .then(( response ) => {
                        this.users = response.data;
                        console.log(response);
                    }, ( error ) => console.log(error));
            },
            deleteUser: function (id) {
                if (confirm('Удалить?')) {
                    this.$http.delete('/admin/users/' + id)
                        .then(( response ) => {
                            this.getUsers();
                            toastr.success('', 'Пользователь удален.');
                            console.log(response);
                        }, ( error ) => console.log(error));
                    console.log(id);
                } else {
                    return false;
                }

            },
            editUser: function (id, user) {
                $('#updateUser').modal('show');

                this.currentUser = user;

                console.log(id);
            },
            showCreatingModal: function () {
                $('#createUser').modal('show');
            },
            createUser: function () {
                console.log(this.newUser);
                this.$http.post('/admin/users', this.newUser)
                    .then(( response ) => {
                        this.newUser = {};
                        this.getUsers();
                        toastr.success('', 'Пользователь создан.');

                        $('#createUser').modal('hide');
                        $('body').removeClass('modal-open');

                        console.log(response);
                    }, ( error ) => console.log(error));
            },
            updateUser: function () {
                this.$http.put('/admin/users/' + this.currentUser.id, this.currentUser)
                    .then(( response ) => {
                        this.getUsers();
                        toastr.success('', 'Пользователь обновлен.');
                        $('#updateUser').modal('hide');
                        console.log(response);
                    }, ( error ) => console.log(error));
            }
        },

        created() {},

        mounted() {
            this.getUsers();
        }
    }
</script>
